
html {
  scroll-behavior: smooth;
}
.totop {
    position: fixed;
    text-align: center;
    background-color: hsl(174, 20%, 57%);
    padding: 10px 15px;
    right: 10px;
    bottom: 10px;
    border: #fafffd;
    border-width: 1px;
    color: #fafffd;
    border-radius: 25%;
}

main {
    width: 90%;
    margin: 0 auto;
}
body {
    background-color: hsl(131, 20%, 84%);
    margin: 0px;
}

header {
    grid-area: h;
    background-color: hsl(174, 20%, 57%);
    color: #fafffd;
    text-align: center;
    margin: 0px;
    padding: 22px;
}
footer {
    grid-area: f;
    background-color: hsl(153, 21%, 64%);
    color: #404241;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


nav a {
    text-decoration: none;
    background-color: hsl(154, 22%, 75%);
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    color: hsl(158, 16%, 24%);
    font-size: 25px;
    display: inline-block;
    width: 120px;

    margin-top: 25px;
}
nav a:hover {
    color: hsl(161, 13%, 42%);
}



p {
    font-size: 20px;
    text-align: left;
}


table, th, td{
    color: rgb(30, 32, 32);
    text-align: center;
    border: 2px solid hsl(161, 13%, 42%); 
}
td {
    text-align: left;
}

p, h2 {
    color: rgb(30, 32, 32);
}



.bar-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.bar-container {
    flex: 1;  
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.bar-label {
    width: 10%;
    margin-top: 22px;
    margin-right: 25px;
}

.bar {
    padding-top: 15px;
    align-items: unset;
    height: 50px;
    background-color: rgb(235, 150, 135);
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
    color: white;
    padding-right: 10px;
}

.experience {
    padding: 0 20%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 15%;
}

.layer1 {
    padding-top: 1%;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 2%;
}
.layer2 {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-gap: 2%;
}
.layer4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 2%;
}

.animatescroll {
    opacity: 0;
    animation: In linear forwards;
    animation-timeline: view();
    animation-range: entry 60% cover 30%;
}

@keyframes In {
    0%   { translate: -10%; opacity: 0; }
    100% { translate: 0%;   opacity: 1; }
}


.box {
    text-align: center;
    align-items: center;
    background-color: #EAF2EF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 10px;
    border-radius: 10px;
    min-height: 240px;

    z-index: 10;
}
.box.twice {
    grid-area: 1/2/2/4;
}
.box.starttw {
    grid-area: 1/1/2/3;
}

@media screen and (max-width: 865px) {
    .layer1 {
        display: block;
    }
    .twice {
        grid-area: unset;
    }
    .layer2 {
        display: block;        
    }

    .layer4 {
        display: block;
    }
    .starttw {
        grid-area: unset;
    }
}
@media screen and (max-width: 550px) {
    nav a {
        width: 65px;
        font-size: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
}
@media screen and (max-width: 1190px) {
    .but {
        font-size: 8px;
        width: auto ;
    }
}


.but {
    font-size: 12px;
    width: auto; 
    padding: 12px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.but.active {
    background-color: hsl(174, 20%, 57%);
    /*background-color: hsl(180, 17%, 8%)*/
}
.con {
    display: none;
}
.con.active {
    display: block;
}